body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
}

h1 {
  font-size: 3rem;
  color: #2ecc71;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #555;      
}
